---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Github from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Experiencie from "../components/Experiencie.astro";
import Proyects from "../components/Proyects.astro";
---

<Layout
  title="Portfolio Facundo Silva - Desarrollador, programación & Tech Polity"
  description="Contrata a fasilva para un desarrollo a medida"
>
  <main class="px-4">
    <SectionContainer class="py-24 lg:py-32">
      <div
        class="flex flex-col lg:flex-row items-center justify-between gap-10"
      >
        <!-- Texto a la izquierda -->
        <div class="text-center lg:text-left max-w-xl">
          <p class="text-sm text-white/70 mb-2">Frontend Developer</p>
          <h2 class="text-blue-400 font-semibold text-lg mb-1">
            Google Script Specialist
          </h2>
          <h1 class="text-white text-4xl md:text-5xl font-bold mb-4">
            Facundo Silva
          </h1>
          <p class="text-base text-white/90 mb-6 leading-relaxed">
            Politólogo y Desarrollador JavaScript sobre tecnologías de Google,
            Next JS, React, Node. También trabajo con bases de datos SQL, Power
            BI y Python.
          </p>
          <nav class="flex flex-wrap gap-4 justify-center lg:justify-start">
            <SocialPill href="https://github.com/fasilvak10">
              <Github class="size-4 md:size-6" /> Github
            </SocialPill>
            <SocialPill
              href="https://www.linkedin.com/in/facundo-silva-83270339/"
            >
              <Linkedin class="size-4 md:size-6" /> Linkedin
            </SocialPill>
            <SocialPill href="mailto:afacusilva@gmail.com">
              <MailIcon class="size-4 md:size-6" /> afacusilva@gmail.com
            </SocialPill>
          </nav>
        </div>

        <!-- Imagen a la derecha -->
        <div class="flex justify-center lg:justify-end">
          <img
            src="/proyects/hero-img-2.png"
            alt="Facundo Silva"
            class="rounded-full w-25 object-cover shadow-xl border-4 border-white/10"
          />
        </div>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-bold mb-5 flex items-center gap-x-3">
        <BriefCase class="size-7" />
        Experiencia
      </h2>
      <Experiencie class="" />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-bold mb-5 flex items-center gap-x-3">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Proyects class="" />
    </SectionContainer>
  </main>
</Layout>
