---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Present...",
    title: "Technical coordination of Knowledge Economy projects",
    description: "Assign and coordinate tasks within the work area. Advise political authorities on decision-making. Conduct impact assessments. Develop monitoring tools. Prepare statistical documents. ",
    link: "#",
  },
  {
    date: "February 2021",
    title: "Data-table to contability report and control",
    description: "Technical evaluation of procedures. Tax and accounting analysis of software companies. Monitoring and oversight of application compliance. Customer service.",
    link: "#",
  },
  {
    date: "April 2019",
    title: "Backend development cross table data in google sheets",
    description: "Application development system, flow of procedures regime",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
